# Built artifacts
bin/
gen/
out/
build/
.gradle/

# IDE files
.idea/
*.iml
*.iws
*.ipr
local.properties
.DS_Store

# User-specific files
*.swp
*~
.lock-wscript

# Android specific
captures/
.externalNativeBuild/
.cxx/
memory_heap.bin
*.apk
*.aar
*.ap_

# JNI
libs/
obj/

target/
*.class
*.db
*.db-shm
.env
*.db-wal
*.log
